
.ab-header{
   padding:10rem;
   background-color: #45529c;
   height: 400px;
   text-align: center;
   vertical-align: middle;
}
.ab-header>h1{
   color: #fff;
   padding:0;

}

@media screen and (max-width:1120px) {
   
   .ab-header{
     padding: 8rem;
     height: 40vh;
   }
}




@media screen and (max-width:690px) {
   
   .ab-header{
     height: 30vh;
      
   }
   
}