
.i-title-wrapper{
   height: 100%;
   animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
   25%{transform: translateY(-50px);}
   50%{transform: translateY(-100px);}
   75%{transform: translateY(-150px);}
   100%{transform: translateY(-200px);}
}
.i-title{
   height: 100px;
   width: 350px;
   overflow: hidden;
   background-color: #333;
   margin: 20px auto;
   text-align: center;
}
.i-title-item{
   height: 50px;
   font-size: 30px;
   font-weight: bold;
   color: #ffd342;
   align-items: center;
   
}

.animate1{

}
.animate1 .box{
padding: 40px;
}