.animate {
  padding: 5rem;
  background-color: rgb(255, 253, 236);
  display: flex;
  align-items: center;
  justify-content: center;
}
.an-left {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.ab-card.bg {
  position: absolute;
  top: 0;
  left: 1rem;
  background-color: var(--blue5);
}
.ab-card {
  width: 65%;
  height: 60vh;
  position: relative;
  top: 1.5rem;
  left: -3rem;
  overflow: hidden;
  border-radius: 30px;
}

.ab-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.an-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ab-title {
  font-weight: 900;
}
.i-title {
  height: 50px;
  width: 280px;
  overflow: hidden;
  background-color: #454752;
  margin: 20px 0;
  text-align: center;
  border-radius: 20px;
}
.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
  15% {
    transform: translateY(-50px);
  }
  30% {
    transform: translateY(-100px);
  }
  45% {
    transform: translateY(-150px);
  }
  60% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(-250px);
  }
  88% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(-350px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 46px;
  font-weight: 700;
  color: #ffd342;
  align-items: center;
  letter-spacing: 2px;
}

.ab-desc {
  font-weight: 600;
  padding: 0;
}

.ab-award {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ab-award-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.ab-award-text {
  margin-left: 20px;
  margin-top: 20px;
}
.ab-award-title {
  font-weight: bold;
  color: rgb(46, 46, 46);
  margin-bottom: 10px;
}
.ab-award-desc {
  padding: 0;
}
@media screen and (max-width: 1180px) {
  .animate {
    padding: 2rem;
  }
  .ab-card {
    height: 50vh;
  }
}

@media screen and (max-width: 999px) {
  .ab-card.bg {
    left: 0.3rem;
    
  }
  .ab-card {
    height: 50vh;
    left: -2rem;
  }
}
@media screen and (max-width: 690px) {
  .animate {
    flex-direction: column;
    justify-content: space-between;
  }
  .ab-card.bg {
    left: 0.5rem;
  }
  .ab-card {
    width: 90%;
    height: 30vh;
  }
  .an-right {
    padding: 50px ;
    align-items: center;
    justify-content: space-between;
  }
  .ab-desc {
    text-align: center;
  }
  .ab-award {
    padding: 0 30px;
    text-align: center;
  }
}
