.c-header {
  padding: 10rem;
  background-color: #2c502e;
  height: 400px;
  text-align: center;
  vertical-align: middle;
}
.c-header > h1 {
  color: #fff;
  padding: 0;
}
.contact-form {
  background-color: #eee;
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
}
.c-title {
  font-size: 40px;
  padding-bottom: 1rem;
}

.c-icons {
  padding: 28px 0;
}

.contact-form input,
textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(177, 177, 177);
  background-color: #fff;
  padding: 10px;
}

.form-button {
  padding: 10px;
  background-color: #ffd342;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 1120px) {
  .c-header {
    padding: 7rem;
    height: 40vh;
  }
  .contact-form {
    padding: 1rem;
  }
  .c-title {
    font-size: 30px;
    
  }
}

@media screen and (max-width: 690px) {
  .c-header {
    height: 30vh;
  }
  .contact-form {
    padding: 2rem 0.5rem;
    flex-direction: column;
    align-items: center;
  }
  .c-left {
    text-align: center;
    padding-bottom: 2rem;
  }

  .c-right {
    padding: 2rem 0;
  }
  
}
